{% extends "data_model/header.html" %}
{% load static %}
<!DOCTYPE html>
{% block content %}

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<body>
    <div class="FlexWrapper">
        <div class="hpmenu">
            <form action="?" method="post" enctype="multipart/form-data" style="display:inline;">
                {% csrf_token %}
                <fieldset>
                    <legend>Data Loader</legend>
                    {{form.as_ul}}
                </fieldset>
                <input type="submit" id="appsubmit" value="Submit" />
            </form>
        </div>

        <div class="appcontent_trainmodel" id="appcontent_trainmodel">
            <p>Data Table</p>
            <table class="tableBodyScroll" id="data-table" align="center" border="2px solid black" cellpadding="10px" cellspacing="1">
                <thead>
                    <tr>
                        {% for obj in labels_all %}
                        <td>{{ obj }}</td>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for obj in dataset %}
                    <tr>
                        {% for r in obj %}
                        {% if r >= 0 or r < 0 %}
                        <td>{{r|stringformat:".3E"}}</td>
                        {% else %}
                        <td>{{r}}</td>
                        {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <br />
            <div align="left">
                <label>Input Variable (X) :</label>
                <select id="listX">
                    <option value="" disabled="disabled" selected="selected">Please Select X-Parameter</option>
                    {% for obj in labels %}
                    <option>{{obj}}</option>
                    {% endfor %}
                </select>
            </div>

            <br />
            <div align="left">
                <label>Modeling Variable (Y) :</label>
                <select id="listY">
                    <option value="" disabled="disabled" selected="selected">Please Select Y-Parameter</option>
                    {% for obj in labels %}
                    <option>{{obj}}</option>
                    {% endfor %}
                </select>
            </div>

            <br />
            <input type="button" id="execute_modeling" onclick="executeModelFuncExponential()" value="Execute" />

            <br />
            <div class="selmenu" id="selmenu">
                <p>Exponential Fitting Formula</p>
                <label id="formula"></label>

                <br />
                <div id="model_scatter_exponential"></div>
                <br />
                <div id="model_metrics_exponential"></div>
            </div>
        </div>
    </div>
    {{ data_json|json_script:"data_json" }}
    {{ dataList|json_script:"dataList" }}
    {{ labels | json_script:"labels" }}
    {{labels_all | json_script: "labels_all" }}
</body>
{% endblock %}
</html>